.descrizione > p,
.descrizione > h1 {
  color: white;
  padding: 1.5rem;
}

.descrizione {
  background-color: #29282d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.all {
  background-color: #29282d;
  z-index: -100;
}
