.gym-navbar {
  background-color: #232323;
  padding: 10px;
  background-color: #59b999;
  color: #fff;
}

.gym-navbar .navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

.gym-navbar .link {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.gym-navbar .nav-link {
  color: #fff;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

.first-section img {
  width: 100%;
  height: 800px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
  width: 100%;
}

.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.corsi {
  filter: brightness(0.7);
  transition: filter 0.3s;
}

.corsi:hover {
  filter: brightness(0.1);
}

.gym-navbar .link .nav-link {
  text-shadow: #747474 1px 1px 1px;
  color: white;
  margin-right: 10px;
  font-weight: bold;
}

.gym-navbar .link .nav-link:hover {
  text-decoration: underline;
}

.gym-navbar .link .nav-link:last-child {
  margin-right: 0;
}

.gym-navbar .justify-content-end .text-white {
  margin-right: 10px;
}

.gym-navbar .justify-content-end .nav-link {
  color: #fff;
  text-shadow: #747474 1px 1px 1px;
  font-weight: bold;
}

.gym-navbar .justify-content-end .nav-link:hover {
  text-decoration: underline;
}

.nav-link:hover {
  color: white;
  text-shadow: #747474 1px 1px 1px;
}
strong {
  text-shadow: #747474 1px 1px 1px;
}
